{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Магазин игрушек
        {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href='{% static "style.css" %}'>
</head>
<body>
    <header>
            <div>
                <h1>
                    {% block pagename %}
                        Главная страница
                    {% endblock %}
                </h1>
            </div>
    </header>
    <hr>
    <nav>
        {% block menu %}
            <h2><a href="/">Главная</a></h2>
            <h2><a href="/shop/">Магазин</a></h2>
            <h2><a href="/basket/">Корзина</a></h2>
        {% endblock %}
    </nav>
    <nav>
        {% block content %}
            <hr>
        {% endblock %}
    </nav>
    <hr>
    <h2>
        Наш магазин игрушек всегда рад Вам!
    </h2>
    📩 Пишите нам на <a href="mailto:mail@mail.ru">почту</a>
    <br>
    ☎️ Звоните нам на телефон
</body>
</html>
