{% extends "fourth_task/menu.html" %}
{% block title %}
    {{ block.super }} - Регистрация
{% endblock %}

{% block pagename %}
    Регистрация пользователя
{% endblock %}

{% block content %}
    {{ block.super }}
    <h3 class="blue-text">
        {{ message }}
    </h3>
    <h3 class="red-text">
        {{ error_rus }}
    </h3>
    <form method="post">
    {% csrf_token %}
    <table>
        <tbody>
            <tr>
                <th align="right">
                    <label>Введите логин:</label>
                </th>
                <td>
                    <input type="text" name="username" maxlength="30" required>
                </td>
            </tr>
            <tr>
                <th align="right">
                    <label>Введите пароль:</label>
                </th>
                <td>
                    <input type="text" name="password" minlength="8" required>
                </td>
            </tr>
            <tr>
                <th align="right">
                    <label>Повторите пароль:</label>
                </th>
                <td>
                    <input type="text" name="repeat_password" minlength="8" required>
                </td>
            </tr>
            <tr>
                <th align="right">
                    <label>Введите свой возраст:</label>
                </th>
                <td>
                    <input type="text" name="age" maxlength="3" required>
                </td>
            </tr>
        </tbody>
    </table>
    <label>
        <input type="checkbox" name="subscribe">
        Подписаться на рассылку
    </label>
    <button type="submit">Регистрация</button>
    </form>
{% endblock %}
